.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body table thead {
    background: #94762b;
    color: beige;
}
.card-body tbody td.aksi {
    text-align: center;
}