.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body table thead {
    background: #94762b;
    color: beige;
}
.card-body tbody td.aksi {
    text-align: center;
}
.max-width-100 {
    max-width: 100px;
    word-wrap: break-word; /* Untuk memastikan teks yang panjang akan dibungkus ke baris berikutnya */
}